<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pig</title>
    <link rel="stylesheet" href="../styles/game.css">
</head>
<body>

    <div id="top">
        <button id="start" disabled>Start</button> <!-- Временная кнопка старта-->
    </div>
    <div id="center">
    </div>
    <div id="bottom"></div>
    <div id="move-card"></div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script src="../js/game/cardManager.js"></script>
<script src="../js/game/connection.js"></script>
<script src="../js/game/events.js"></script>
<script type="module" src="/js/game/distribution.js"></script>
</html>