<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pig</title>
  <link rel="stylesheet" th:href="@{/styles/start.css}">
</head>
<body>
<div id="background"></div>
<div id="lines">
  <div class="line up static"></div>
  <div class="line bottom static"></div>
  <div class="line up move"></div>
  <div class="line bottom move"></div>
</div>
<div id="decorations">
  <img th:src="@{/images/spades/q.png}" class="card minus-30" id="card1">
  <img th:src="@{/images/diamonds/q.png}" class="card plus-30" id="card2">
  <img th:src="@{/images/shirt.png}" class="card minus-30" id="card3" alt="">
  <img th:src="@{/images/shirt.png}" class="card plus-30" id="card4">
</div>
<div class="form registration-block">
  <form action="/registration" method="post">
    <h1>Регистрация</h1>
    <div id="inputs">
      <h5 id="error-email" th:text="${emailError}" />
      <input type="email" class="form-input" placeholder="Почта" name="email" required>
      <input type="text" class="form-input" placeholder="Имя" name="name" maxlength="16" required th:value="${name}">
      <input type="number" class="form-input number" placeholder="Вес" name="weight" min="15" max="999" required th:value="${weight}">
      <input id="pass" type="password" class="form-input" placeholder="Пароль" name="password"minlength="6" maxlength="32" required th:value="${password}">
      <h5 id="error-passwords"></h5>
      <input id="repass" type="password" class="form-input" placeholder="Повторите пароль" minlength="6" maxlength="32" required th:value="${password}">
    </div>
    <input type="submit" class="submit reg" value="Зарегистрироваться">
  </form>
</div>
</body>
<script th:src="@{/js/start/start.js}"></script>
</html>