body {
    background: url("../images/table.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#top {
    width: 100vw;
    height: 23vh;
    position: relative;
}

#center {
    width: 100vw;
    height: 54vh;
    position: relative;
}

#bottom {
    width: 100vw;
    height: 23vh;
    position: relative;
}

#move-card {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transform: translateY(-50%) translateX(-50%)
}

img.hidden {
    visibility: hidden;
}