body {
    background: url("../images/table.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#top {
    width: 100vw;
    height: 23vh;
    position: relative;
}

#center {
    width: 100vw;
    height: 54vh;
    position: relative;
}

#bottom {
    width: 100vw;
    height: 23vh;
    position: relative;
}

.card {
    width: 120px;
    height: 180px;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
}
#move-card {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

img.hidden {
    visibility: hidden;
}