body {
    background-image: url("../images/table.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

#top {
    width: 100vw;
    height: 22vh;
}

#center {
    width: 100vw;
    height: 56vh;
}

#bottom {
    width: 100vw;
    height: 22vh;
}

#move-card {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}